.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  border-radius: 20px;
}
button {
  margin: auto;
  box-shadow: 0px 0px 3px 2px lightgrey;
}

.example-full-width {
  width: 100%;
}
.imagen-mini{
    width:200px;
    height:125px;
}
.miniaturas{
    display:inline-block;
    margin:.5rem;
}
  .miniaturas:hover {
    transform: scale(1.1);
    transition-duration: .5s;
    cursor: pointer;
    box-shadow: 0px -1px 30px 0px rgba(0,0,0,0.56);
    -webkit-box-shadow: 0px -1px 30px 0px rgba(0,0,0,0.56);
    -moz-box-shadow: 0px -1px 30px 0px rgba(0,0,0,0.56);
  }
.youtube{
    display:inline-block
}
section{
    display:flex;
}
.container{
    text-align:center;
}
#buscador {
  margin: .5rem auto;
  width: 45%;
  background-color: white;
  border: 1px solid darkgrey;
  border-radius: 20px;
  padding: .25rem;
  box-shadow: 0px 0px 8px 0px black;
}
.visualizador {
  background-color: #f5f8ff;
  margin: 1.1rem;
  justify-content: space-evenly;
}
#quiero-ver{
    margin-left:1rem;
}
